Autofac.Integration.WCF.Client/Connected Services/NotificationService/Autofac.Integration.WCF.Service.Events.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Autofac.Integration.WCF.Service.Events" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Autofac.Integration.WCF.Service.Events" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ApplicationEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="TimeStamp" type="q1:DateTimeOffset" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationEvent" nillable="true" type="tns:ApplicationEvent" />
</xs:schema>