Autofac.Integration.WCF.Client/Connected Services/NotificationService/NotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_INotificationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1010/NotificationService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1010/NotificationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationService_TestCallbackMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:TestCallbackMethod" />
  </wsdl:message>
  <wsdl:message name="INotificationService_TestCallbackMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestCallbackMethodResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_Send_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:portType name="INotificationService">
    <wsdl:operation name="TestCallbackMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/TestCallbackMethod" message="tns:INotificationService_TestCallbackMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/TestCallbackMethodResponse" message="tns:INotificationService_TestCallbackMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/Send" message="tns:INotificationService_Send_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_INotificationService" type="tns:INotificationService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_INotificationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestCallbackMethod">
      <soap12:operation soapAction="http://tempuri.org/INotificationService/TestCallbackMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://tempuri.org/INotificationService/Send" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="WSDualHttpBinding_INotificationService" binding="tns:WSDualHttpBinding_INotificationService">
      <soap12:address location="http://localhost:1010/NotificationService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:1010/NotificationService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>